.App {
  text-align: center;
  margin-top: 20%;
}

.number-submit-button {
  margin-top: 20px;
}

.message-alert {
  margin-top: 20px;
}

.problem-prompt {
  margin-bottom: 5%;
}

.answer-button {
  float: right;
}